body {
	font-family: $body-font;
  font-weight: $fw-normal;
  font-size: 0.875em;
  line-height: 2;
  color: $text-primary;
  position: relative;
  overflow: hidden;

	&.loaded {
		overflow-x: hidden;
		overflow-y: auto;
	} // Body after page loaded
} // Body

h1,
h3,
.header p {
	font-family: $bold-font;
} // h1, h3, p inside the main header

h1 {
	font-weight: $fw-bold;
	line-height: 1;
	letter-spacing: -3px;
} // header main headline

h2,
blockquote {
	font-family: $display-font;
	font-weight: $fw-bold;
} // Sections headline

blockquote {
	font-size: $fs-xl;
	padding: 0 20%;
	line-height: 1.5;
}

h3 {
	font-weight: $fw-bold;
	line-height: 1.25;
	font-size: $fs-lg + 1;
} // Blocks headline

.fa {
	color: $text-accent;
} // Icons default color

.btn-lg {
	font-size: $fs-md;
	padding: $btn-lg-pad;
	text-transform: uppercase;
	font-weight: $fw-bold;
} // Large button

.btn-primary {
	background: $bg-accent;
} // Button color

.webolll-logo {
	max-width: $logo-max-width;
}

.fade-on-scroll {
	opacity: 0;
	margin-top: -30px;
	transition: opacity 0.8s ease-in-out, margin-top 0.5s ease-in-out;

	&.viewed {
		opacity: 1;
		margin-top: 0;
	}
} // Fade on scroll

.heart-animation {
  animation: heart-beat 1s infinite ease-in-out;
}

@keyframes heart-beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
} // Heart animation keyframes



// Media Queries
@include media-breakpoint-up(sm) {
	blockquote {
		font-size: $fs-3x;
	}
} // Screens above 768px

@include media-breakpoint-up(md) {
	.webolll-logo {
		max-width: $logo-max-width-md;
	}

	blockquote {
		font-size: $fs-4x + 2;
		padding: 0 27%;
	}
} // Screens above 992px


// Preloader styles
.page-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #F9FAFB;
  z-index: 99999;
  
  .pulse {
    border-radius: 50px;
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 0.05em;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $bg-dark;
      border-radius: 50px;
      opacity: 0;
    } // Pulse circles styles

    &:before {
      transform: scale(1);
      animation: pulse 1000ms infinite linear;
    } // Pulse first circle

    &:after {
      animation: pulse 1000ms 350ms infinite linear;
    } // Pulse second circle
  } // Pulse
}

// Pulse animation keyframes
@keyframes pulse {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
} // Pulse animation keyframes