body {
	font-family: $body-font;
  font-weight: $fw-normal;
  font-size: 0.875em;
  line-height: 2;
  color: $text-primary;
  position: relative;
  overflow: hidden;

	&.loaded {
		overflow-x: hidden;
		overflow-y: auto;
	}
}

h1,
h3,
.header p {
	font-family: $bold-font;
}

h1 {
	font-weight: $fw-bold;
	line-height: 1;
	letter-spacing: -3px;
}

h2,
blockquote {
	font-family: $display-font;
	font-weight: $fw-bold;
}

blockquote {
	font-size: $fs-xl;
	padding: 0 20%;
	line-height: 1.5;
}

h3 {
	font-weight: $fw-bold;
	line-height: 1.25;
	font-size: $fs-lg + 1;
}

.fa {
	color: $text-accent;
}

.btn-lg {
	font-size: $fs-md;
	padding: 12px 30px;
	text-transform: uppercase;
	font-weight: $fw-bold;
}

.btn-primary {
	background: $bg-accent;
}

.webolll-logo {
	max-width: 115px;
}

.fade-on-scroll {
	opacity: 0;
	margin-top: -30px;
	transition: opacity 0.8s ease-in-out, margin-top 0.5s ease-in-out;

	&.viewed {
		opacity: 1;
		margin-top: 0;
	}
}

.heart-animation {
  animation: heart-beat 1s infinite ease-in-out;
}

@keyframes heart-beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

// Media Queries
@include media-breakpoint-up(sm) {
	blockquote {
		font-size: $fs-3x;
	}
}

@include media-breakpoint-up(md) {
	.webolll-logo {
		max-width: 97px;
	}

	blockquote {
		font-size: $fs-4x + 2;
		padding: 0 27%;
	}
}


.page-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #F9FAFB;
  z-index: 99999; }
  .page-loading .spinner {
    border-radius: 50px;
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 0.05em; }
    .page-loading .spinner:before, .page-loading .spinner:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $bg-dark;
      border-radius: 50px;
      opacity: 0; }
    .page-loading .spinner:before {
      transform: scale(1);
      animation: pulse 1000ms infinite linear; }
    .page-loading .spinner:after {
      animation: pulse 1000ms 350ms infinite linear; }

@keyframes pulse {
  0% {
    transform: scale(0.1);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }