.feature {

	.feature__icon {
		min-width: $icon-min-width;
		text-align: center;

		.fa {
			font-size: $fs-5x;
		}
	} // Feature Icon

	.feature__body {
		max-width: $feature-max-width;
		margin: auto;
	} // Feature body
} // Feature