.footer {
	color: $text-muted;
	background: $bg-dark;

	.footer-list__headline {
		margin-bottom: 15px;
	}

	.footer-list__headline,
	.fa {
		color: $text-secondary;
		margin-right: 10px;
	} // Footer text color
	
	a {
		color: $text-muted;

		&:hover {
			color: $text-secondary;
			text-decoration: none;
		}
	} // Footer links
	
	&__copyright {
		background: $bg-darker;
		color: $text-muted-light;
	} // Footer copyright text

} // Footer