.header {
	height: 100vh;
	overflow: hidden;
	position: relative;

	.header__img {
		position: absolute;

		&.header__img-1 {
			top: 3%;
	    right: 87%;
	    transform: rotate(50deg);
		}
		&.header__img-2 {
	    right: 66%;
	    top: 51vh;
		}
		&.header__img-3 {
      bottom: 10%;
    	right: 82%;
		}
		&.header__img-4 {
      bottom: -13%;
    	right: 74%;
		}
		&.header__img-5 {
		  top: -24px;
	    left: 52%;
		}
		&.header__img-6 {
      top: 45%;
		  left: 72%;
		  z-index: 1;
		}
		&.header__img-7 {
      left: 80%;
  		bottom: -1%;
		}
		&.header__img-8 {
      bottom: 35%;
   		right: 74%;
	    transform: rotate(-60deg);
		}
		&.header__img-9 {
      bottom: 30%;
  		right: 70%;
		}
	} //Header images

	.header__copy,
	.header__scroll-mouse {
		z-index: 5;
	} // Header copy

	.header__headline {
		font-size: $fs-7x;
		margin: 0;
	}

	.header__subheadline {
		font-size: $fs-xl;
		
		margin-bottom: 30px;
		padding-left: 15%;
		padding-right: 15%;
	}

	// Scrolling mouse animation
	@keyframes scroll-mouse {
		0% {
		opacity: 1;
		top: 29%;
		}
		15% {
		opacity: 1;
		top: 50%;
		}
		50% {
		opacity: 0;
		top: 50%;
		}
		100% {
		opacity: 0;
		top: 29%;
		}
	}

	// Scrolling mouse
	.header__scroll-mouse {
		position: absolute;
		bottom: 20px;
		display: block;
		width: 35px;
		height: 55px;
		margin: 0 auto 20px;
		box-sizing: border-box;
		border: 3px solid mix($white, $text-muted-light, 66.7%);
		border-radius: 23px;

		> * {
			position: absolute;
			display: block;
			top: 29%;
			left: 50%;
			width: 8px;
			height: 8px;
			margin: -4px 0 0 -4px;
			background: #333;
			border-radius: 50%;
			animation: scroll-mouse 2.5s linear infinite;
		}
	} // Scrolling mouse
} // Header

// Media Queries
@include media-breakpoint-up(sm) {
	.header {

		.header__headline {
			font-size: $fs-8x;
		}

		.header__subheadline {
			font-size: $fs-xl;
		}
	} // Header
} // Screens above 768px

@include media-breakpoint-down(sm) {
	.header {
		.header__img {
			&.header__img-5 {
			  margin-left: -150px;
			}
		}
	} // Header
} // Screens below 767.98px